extends layout
include mixins/header

append head
  script(async, custom-template='amp-mustache', src='https://cdn.ampproject.org/v0/amp-mustache-0.1.js')
  script(async, custom-element='amp-form', src='https://cdn.ampproject.org/v0/amp-form-0.1.js')

block main
  .hero
    .hero__content
      .hero__image-wrapper
        .u-loading
          i.fa.fa-spinner.fa-spin.fa-2x
        amp-img.hero__image(src=`/images/games/${game._id}.jpg`, alt=game.name, width=1280, height=720, layout='responsive')
  .article
    - var href = `/games/${game._id}`;
    .article__content
      h1= game.name
      p= game.description
      p
        a.button(href=game.url)= `Play ${game.name}`
      section#comments.article__comments
        h2 Comments
        if game.comments && game.comments.length
          each comment in game.comments
            article.comment
              header.comment__header
                span.comment__author
                  span
                    if comment.url
                      a.comment__link(href=comment.url, rel='nofollow')= comment.author
                    else
                      = comment.author
                span.comment__details
                  time.comment__time(datetime=comment.posted)= moment(comment.posted).fromNow()
              p= comment.text
        else
          p No comments yet.
      section.section#write-comment
        form(method='post', action-xhr=`${game._id}/comments`, target='_top', on='submit-success:write-comment-content.hide')
          #write-comment-content
            h2 Write comment
            label(for='comment-author') Your name
            input#comment-author(type='text', name='author', required)
            label(for='comment-url') Your website (optional)
            input#comment-url(type='text', name='url')
            label(for='comment-text') Your comment
            textarea#comment-text(name='text', required, autocomplete='off')
            label(for='comment-task') Calculate: 2 times 4
            input#comment-task(type='text', name='task', required, autocomplete='off')
            div
              button.button(type='submit') Send
          div(submit-success)
            template(type='amp-mustache')
              .section
                p.u-success Thanks for your comment. Refresh this page to see your comment.
                p
                  a.button(href=canonical) Reload
          div(submit-error)
            template(type='amp-mustache')
              .section
                p.u-error Error
                p.u-error {{error}}
